# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jekyll build directory (if not already excluded in _config.yml)
_site/

# Ignore Gemfile.lock as dependencies will be installed on the server
Gemfile.lock

# Ignore the .jekyll-cache directory
.jekyll-cache/

# Ignore any local .env files
.env

# Ignore macOS system files
.DS_Store

# Ignore .bundle files
.bundle

# Ignore .app/gems/ruby/3.0.0
.app/gems/ruby/3.0.0
